.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 60vh;
    width: 50vw; */
}
.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}